
header
{
    color: aliceblue;
}
h1{
        font-family: Megrim; 
    font-size: xxx-large;
    font-weight: bolder;
    text-decoration: none;
}

a
{
    color:rgb(157, 169, 191);
    font-family: Megrim; 
    font-size: large;
    font-weight: bolder;
    text-decoration: none;
}